*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul {
    float: left;
}

li{
    list-style: none;
    text-align: center;
    color: white;
    float: left;
    font-size: 1.1vw;
    margin: 0.5vw;
    padding-bottom: 1.95vw;
    
}

li:hover{
    border-bottom: 6px solid #11749e;
}
/* FIRST BLOCK */
.aboutagency{
    width: 100%;
    height: 55vw;
    background-image: url(../img/blockback1.png);
    background-size: 100% 55vw;
    background-repeat: no-repeat;
}

.header{
    width: 100%;
    height: 6vw;
    border-bottom: 2px solid rgba(196,196,196,0.85);
}

.header_logo{
    width: 3.5vw;
    height: 3.5vw;
    margin-left: 11vw;
    margin-top: 1.2vw;
    float: left;
    background-color: #11749e;
    -webkit-box-shadow: 0.6vw 0.5vw 0px 0px rgba(196,196,196,0.85);
    -moz-box-shadow: 0.6vw 0.5vw 0px 0px rgba(196,196,196,0.85);
    box-shadow: 0.6vw 0.5vw 0px 0px rgba(196,196,196,0.85);
}

.header_logo p{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2vw;
    text-align: center;
    color: white;
    
}


.menu-nav{
    width: 44vw;
    height: 46.25vw;
    margin-left: 24vw;
    display: inline-block;
    padding: 2.01vw;

    
}

.center-word{
    text-align: center;
    text-transform: uppercase;
    margin-top: 15vw;
}

#upword{
    color: #ffffff;
    font-size: 9vw;
    font-weight: bold;
    
}
#downord{
    color: #11749e;
    font-size: 2vw;
    letter-spacing: 0.76vw;
}

/* SECOND BLOCK */
.aboutagency2{
    width: 100%;
    height: 46.25vw;
    background-color: #11749e;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
}

.hitext p{
    text-align: center;
    text-transform: uppercase;
}

.highword1{
    color: #fff3;
    font-size: 15vw;
}

.highword2{
    color: #ffffff;
    font-size: 2.5vw;
    margin-top: -10vw;
}

.features{
    width: 78.125vw;
    height: 20.625vw;
    margin-top: 10vw;
    float: left;
    margin-left: 13.125vw;
}



#feature{
    width: 7vw;
    height: 18.75vw;
    float: left;
    margin-left: 9vw;
}

.feature1{
    background: url(../img/feature1.png) no-repeat;
}
.feature2{
    background: url(../img/feature1.png) no-repeat;
}
.feature3{
    background: url(../img/feature2.png) no-repeat;
}
.feature4{
    background: url(../img/feature3.png) no-repeat;
}

.textfe p{
    color: #ffffff;
    padding-top: 8vw;
    font-size: 1vw;
    width: 8vw;
}

.textfe2{
    font-size: 0.89vw;
    width: 14vw;
    margin-left: -3vw;
    margin-top: 1vw;
}

.textfe2 p{
    color: #ffffff;
    text-align: center;
}

/* THIRD BLOCK */

.newsarea{
    width: 100%;
    height: 46.25vw;
    float: left;
}

.firstblock{
    width: 100%;
    height: 50%;
}

.imgarea{
    width: 50%;
    height: 100%;
    background: url(../img/imgarea1.png) no-repeat;
    background-size: 100%;
    float: left;
}

.secondblock{
    width: 100%;
    height: 50%;
}

.imgarea2{
    width: 50%;
    height: 100%;
    background: url(../img/imgarea2.png) no-repeat;
    background-size: 100%;
    float: left;
}

.textarea{
    width: 50%;
    height: 100%;
    float: left;
    background-color: #242424;
    color: #ffffff;
}

.textarea2{
    width: 50%;
    height: 100%;
    float: left;
}


.textareasize{
    width: 21.375vw;
}

#moved1{
    margin: 5.1vw 13.43vw;
}

#moved2{
    margin: 6.5vw 4.8vw;
}

.words-1{
    font-size: 0.87vw;
    
}

.words-2{
    text-transform: uppercase;
    font-size: 1.34vw;
    margin-top: 0.3vw;
    font-weight: bold;
}

.words-3{
    margin-top: 2.2vw;
    font-size: 0.87vw;
}

.words-4{
    margin-top: 2vw;
    font-size: 0.87vw;
}


/* FOURTH BLOCK */

.blogarea{
    width: 100%;
    height: 55vw;
    float: left;
}

#blword1{
    color: #d7d7d7;
}

#blword2{
    color: #111111;
}

.hitext2{
    margin-top: 6vw;
    text-align: center;
    font-size: 2vw;
}

.blogspot{
    width: 77.5vw;
    height: 30vw;
    margin-left: 15vw;
    margin-top: 2vw;
}

.yep{
    width: 14vw;
    height: 33.75vw;
    float: left;
    margin-left: 3vw;
}

.yep p{
    text-align: center;
    margin-top: 1vw;
    font-size: 0.9vw;
}

.hh{
    color: #11749e;
    text-transform: uppercase;
    font-size: 1vw;
}

/* FIFTH BLOCK */

.panel{
    width: 100%;
    height: 22.18vw;
    float: left;
    background-color: #11749e;
    color: #ffffff;
    font-size: 0.95vw;
}

.panelinf{
    width: 20vw;
    height: 0vw;
    margin: 7vw 20vw;
}

.panelinf2{
    width: 20vw;
    height: 0vw;
    margin: -7vw 60vw;
    
}

/* SIXTH BLOCK */

.keyfe{
    width: 100%;
    height: 50vw;
    float: left;
    background: url(../img/backke.png) no-repeat;
    background-size: 100% 50vw;
}

.textareakey{
    width: 20vw;
    float: left;
    color: #ffffff;
    margin: 10vw 20vw;
}

.imgareakey{
    float: left;
    margin-top: 5vw;
}

.hiketext{
    font-size: 1.4vw;
    text-transform: uppercase;
}

.hiketext2{
    margin-top: 3.5vw;
    font-size: 0.95vw;
    margin-bottom: 3vw;
}

#backtextkey{
    background-color: #11749e;
    text-transform: uppercase;
    margin-top: 0.8vw;
    background-size: 1vw 1vw;
    font-size: 1vw;
    padding: 0.5vw 0.5vw;
}

.firstbacktext{
    width: 16vw;
    
}

.secondbacktext{
    width: 17vw;
}

.thirdbacktext{
    width: 18vw;
}

.imgphone{
    margin-top: 5vw;
    background: url(../img/phone.png) no-repeat;
    width: 20vw;
    height: 35vw;
    margin-left: 55vw;
}

/* .btn{
    width: 25vw;
    height: 25vw;
    border-radius: 20px;
    background-color: #111444;
    cursor: pointer;
    border: 1px solid red;
    top: 45vw;
    left: 45vw;
    position: fixed;
} */


/* SEVENTH BLOCK */

.team{
    width: 100%;
    height: 53vw;
    float: left;
}

#hhtext{
    margin-top: 20vw;
    font-size: 1vw;
    font-weight: bold;
    background-color: #fff;
    text-align: center;
    width: 11.5vw;
    height: 2vw;
    background-size: 100%;
    margin-left: 1.2vw;
    padding-top: 0.7vw;
}

#hhtext2{
    font-size: 1.05vw;
    font-weight: bold;
    margin-top: -0.3vw;-
}

#backbls{
    background: url(../img/john.png) no-repeat;
}
#backbls2{
    background: url(../img/lady.png) no-repeat;
}
#backbls3{
    background: url(../img/david.png) no-repeat;
}
#backbls4{
    background: url(../img/sansa.png) no-repeat;
}

/* EIGHTH BLOCK */

.contactarea{
    width: 100%;
    height: 57vw;
    float: left;
    background: url(../img/last.png) no-repeat;
    background-size: 100%;
}

#movev{
    margin-top: 7vw;
}

.formarea{
    margin: 7vw 10vw;
    display: inline-block;
}

.inp{
    margin-left: 4.5vw;
}

.inp input{
    width: 21vw;
    height: 2.5vw;
    margin-left: 1.75vw;
    font-size: 1.15vw;
    color: #fff;
    background-color: #fff0;
    border: 1px solid #fff;
    padding-left: 0.5vw;
}

.inp2{
    margin-left: 4.5vw;
}

.inp2 textarea{
    width: 68.126vw;
    height: 9.37vw;
    margin-left: 1.75vw;
    font-size: 1.15vw;
    color: #fff;
    background-color: #fff0;
    border: 1px solid #fff;
    padding-left: 0.5vw;
    margin-top: 3vw;
}

.submit{
    margin-left: 35vw;
    margin-top: 5vw;
}

.submit input{
    width: 10vw;
    height: 5vw;
    background-color: #11749e;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.6vw;
}

/* MAP BLOCK */

.mapblock{
    width: 100%;
    height: 20vw;
    float: left;
    
}

.map{
    overflow:hidden;
    width: 100%px;
    height: 20vw;
}


/* FOOTER */

.footer{
    width: 100%;
    height: 7.125vw;
    background-color: #222222;
    float: left;
}

.podvinsya{
    color: #fff;
    font-size: 0.87vw;
    margin: 3vw 8vw;

}
